[submodule ".registry"]
	path = .registry
	url = https://github.com/hsonne/hsonne.r-universe.dev
	branch = HEAD
[submodule "blockrand2"]
	path = blockrand2
	url = https://github.com/hsonne/blockrand2
[submodule "findblobs"]
	path = findblobs
	url = https://github.com/hsonne/findblobs
[submodule "magickx"]
	path = magickx
	url = https://github.com/hsonne/magickx
[submodule "odbc32"]
	path = odbc32
	url = https://github.com/hsonne/odbc32
[submodule "pathlist"]
	path = pathlist
	url = https://github.com/hsonne/pathlist
[submodule "swmmr"]
	path = swmmr
	url = https://github.com/hsonne/swmmr
