[submodule ".registry"]
	path = .registry
	url = https://github.com/hsonne/universe
	branch = HEAD
[submodule "blockrand2"]
	path = blockrand2
	url = https://github.com/hsonne/blockrand2
[submodule "findblobs"]
	path = findblobs
	url = https://github.com/hsonne/findblobs
[submodule "kwb.file"]
	path = kwb.file
	url = https://github.com/kwb-r/kwb.file
	registered = false
[submodule "kwb.utils"]
	path = kwb.utils
	url = https://github.com/kwb-r/kwb.utils
	registered = false
[submodule "magickx"]
	path = magickx
	url = https://github.com/hsonne/magickx
[submodule "odbc32"]
	path = odbc32
	url = https://github.com/hsonne/odbc32
[submodule "pathlist"]
	path = pathlist
	url = https://github.com/hsonne/pathlist
[submodule "r2r"]
	path = r2r
	url = https://github.com/vh-d/r2r
	registered = false
[submodule "swmmr"]
	path = swmmr
	url = https://github.com/hsonne/swmmr
